extends layouts/main

block content
  h1 Wymagane logowanie
  p Aby móc grać, musisz posiadać konto google lub mailowe w domenie codesthq.com
  a(href='/auth/google/') Logowanie przy użyciu konta Google
